@import "custom-media";

.hero {
  padding-top: 17px;
  padding-bottom: 20px;
  min-height: 100vh;
  background-image: url("img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  @include media-1200() {
    padding-top: 10px;
  }

  @include media-560() {
    min-height: auto;
  }
}

.header {
  padding: 33px 0;

  @include media-600() {
    padding: 10px 0;
  }
}

.header-container {
 @include flex;

  @include media-1200() {
    flex-wrap: wrap;
    gap: 10px;
  }

  @include media-768() {
    justify-content: center;
  }

  @include media-560() {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }
}

.header__logo {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.22;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;

  @include media-560() {
    align-self: center;
  }
}

.header__img {
  display: block;
  padding-bottom: 3px;
}

.header__list {
  display: flex;
  gap: 23px;

  @include media-1200() {
    flex-wrap: wrap;
  }

  @include media-560() {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.header__link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.21;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;

  @include media-560() {
    font-size: 1.2rem;
  }
}

.header__link-bl {
  font-weight: 700;
}

.header__box-button {
  width: 170px;
  display: flex;
  justify-content: flex-end;

  @include media-768() {
    justify-content: center;
  }
}

.btn {
  min-width: 160px;
  font-size: 1.4rem;
  line-height: 1.21;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;

  @include media-600() {
    min-width: 100px;
  }
}

.btn--sm {
  color: #FFFFFF;
  padding: 11px 28px;
  min-width: 100px;
  border: 1px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0);

  @include media-600() {
    padding: 8px 36px;
    min-width: 80px;
  }
}

.btn--white {
  min-width: 160px;
  text-transform: uppercase;
  color: #ED4C5C;
  padding: 21px 52px;

  @include media-600() {
    padding: 8px 42px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 578px;
  flex-grow: 1;

  @include media-600() {
    width: 100%;
    padding: 0 20px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 1.19;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 39px;

  @include media-650() {
    font-size: 5rem;
    margin-bottom: 10px;
    text-align: center;
  }

  @include media-560() {
    font-size: 3rem;
    margin-bottom: 5px;
  }
}

.hero__text {
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 39px;

  @include media-660() {
    font-size: 2rem;
    margin-bottom: 10px;
    width: 100%;
  }

  @include media-560() {
    font-size: 1.6rem;
  }
}



